.container {
  display: flex;
  height: calc(100vh - 70px);
}

.mapa {
  flex: 1;
}

.dashboard {
  width: 1200px;
  overflow-y: auto;
  background: white;
}

/* 🔥 ÚNICO fix seguro */
.leaflet-container img {
  max-width: none !important;
}